html{
  font-size: 14px;
  
}
.modal-genre {
  width: 100%
}
.modal-btn{
  display: none;
}

.search-form{
  width: 400px;
  margin: 25px auto;
}
.search-heading{
  text-align: center;
}
#search{
  float: left;
  width: 49%;
}
#clear-search{
  float: right;
  width: 49%;
}
#alert-container {
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0rem; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 0rem) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 0rem) / 4) * 2 + 0rem); }

.table-heading-database {
  text-align: center;
  text-transform: uppercase;
}
.table-heading-database-secondary {
  text-align: right;
  margin-bottom: 0px;
  margin-top: 12px;
}

table {
  border-radius: 5px;
  overflow: hidden;
}
input[type="checkbox"] {
  transform: scale(1);
  vertical-align: middle;
  margin-left: 15px;
}
input[type="checkbox"]:first-of-type {
  margin-left: auto;
}
.movie-container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card-title {
  margin: 0.25rem auto !important;
}
.card-body{
  padding: 5px 10px !important;
}
.card-text{
  margin-bottom: 4px !important;
}
.formats{
  font-size: 14px;
}
label {
  font-size: 14px !important;
  margin-bottom: 4px;
}

.bottom {
  display: inline-block;
}
.file {
  position: relative;
  overflow: hidden;
}
input[type="file"] {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
